<nav class="navbar navbar-light bg-light">
        <img src="https://static1.squarespace.com/static/5f143aa125e29344b4be8e0f/t/5f4742ae8ee0877c452fdc6e/1610880327949/?format=1500w" width="200" height="50" alt="">
    <span class="navbar-brand mb-0 h1">USER SIGN IN</span>
  </nav>
  <br>
  <br>
<div class='container'>
<div class='login col-md-6'>
    <form #signUpForm="ngForm" (ngSubmit)="login()">
            
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="newEmail" [(ngModel)]="newEmail" #email="ngModel"
                required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type='password' class="form-control" name="newPassword" [(ngModel)]="newPassword"
                #password='ngModel' placeholder='password' required>
        </div>
        
        
        <button type="submit" class="btn btn-success" >Sign-in</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary" (click)="goToSignUp()">Sign-up</button>
    </form>
</div>
</div>

